/*the header style begins*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: helvetica,arial,sans-serif;;
}

body {
    height: 800vh;
}

/* General styles */
.w-35 {
    width: 35%;
    margin: auto;
}

.btn {
    background-color:  rgb(50, 104, 145);
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
    padding: 10px 0px;
    
}

/* left header elements */
.header-left {
    display: table;
}
.header-left > * {
    float: left;
    margin: 0px  15px;
    vertical-align: middle;
}
/* for text */
.header-left figure{
    color: black;
    font-size: 20px;
}

.header-left a:hover {
    text-decoration: underline;
}

.header-left a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* head center  */
.header-center img {
    width: 200px;
}

/* header right section */
.header-right {
    
}

.header-right button {
    padding: 8px 10px;
    margin-right: 5px;
    font-size: 11px;
}

/* News story section styles */
main {
    padding-top: 40px;
}

.news-title {
    font-size: 35px;
    font-style: italic;
    margin-bottom: 10px;
}

.cover-img {
    width: 60%;
    margin: auto;
}

.cover-img img {
    width: 100%;
    display: block;
}



/* news content styles */
.news-content{
    margin-top: 30px;
}

.news-date-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.date{
    color:  #87898a;
    font-size: 14px;
}

/* news content social share icons */
.social-icons {
    display: flex;
    justify-content: space-around;  
    align-items: center;
}

.social {
    height: 30px;
    width: 30px;
    background-color: #e2e2e2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social:hover {
    background-color: #fff;
    border: 1px solid #e2e2e2;
}

.comment:hover .iconify, 
.bookmark:hover .iconify {
    color: #e2e2e2;
}

.social-icons figure {
    margin-left: 10px;
}

.bookmark .iconify {
    font-size: 30px;
    color: #a3a8ab;
}

.comment {
    position: relative;
}

.count {
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

.comment .iconify {
    font-size: 40px;
    color: #a3a8ab;
}

.news-author,
.news-author a{
    color: #000;
    font-weight: bold;
}

.news-author a:hover {
    text-decoration: none;
}

/* this is for the news parts */
.news-part {
    padding-top: 30px;
    border:1px solid red;
}

.news-part p { 
    color: #333;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 20px;
    font-family: georgia,'times new roman',times,serif;
}

.news-part a {
    color: rgb(50, 104, 145);
    font-size: 22px;
    line-height: 25px;
    font-family: georgia,'times new roman',times,serif;
}
.news-part h3 {
    margin-bottom: 10px;
}

.news-part img,
.news-part iframe {
    width: 100%;
    border:none;
}
.subscribe {
    position: relative;
    margin:auto;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 10px;
}

.subscribe::before, .subscribe::after {
    content: "";
    position: absolute;
    width:100px;
    height: 1px;
    background-color: #a3a8ab;
    left:50%;
    transform: translate(-50%, 0);
}

.subscribe::before {
    top: 0;
    left:
}

.subscribe::after {
    bottom: 0;
}

.subscribe h4,
.subscribe a {
    line-height: 15px;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.theory-of-inflation {
    width: 900px;
    margin: auto;
    margin-top: 30px;
}
.theory-of-inflation p {
    font-size: 14px;
    line-height: 20px;
    padding-top: 8px;
    color: #87898a;
}

.grid-container {
    position: relative;
}

.grid-container figure {
    width: 100%;
    margin-top: 10px;
    border: 1px solid red;
}

.grid-container figure img{
    width: inherit;
}

.container {
    position: absolute;
    top: 126px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 145px 155px 140px; */
    grid-template-rows: repeat(2, 100px);
    column-gap: 8px;
    row-gap: 168px;
}

.container p {
    font-size: 12px;
    color: #000;
}

p.inflation-authur {
    position: relative;
    margin-top: 35px;
    padding-top: 15px;
    color: #000;
    font-size: 12px;
}
.inflation-authur::before {
    content: "";
    position: absolute;
    width:70px;
    height: 1px;
    background-color: #000;
    left:0;
    top: 0;
    z-index: 10;
}

.news-footer {
    display: flex;
    justify-content: space-between;
}

.comment-btn {
    padding: 10px 70px;
    font-size: 12px;
}

.new-part-info .caption-text-sm {
    font-size: 12px;
    line-height: 15px;
}

.new-part-info a {
    font-size: 13px;
    color: #87898a;
}

.new-part-info a:hover {
    text-decoration: none;
}

/* more news section styles */
.other-news {
    display: flex;
    justify-content: space-between;
    margin: 30px 15%;
}

.more-news {
    flex: 2;
    margin-right: 20px;
}

.popular-news {
    flex: 1;
}

.more-news h3 {
    margin: 10px 0;
}

.more-news-container{
    margin-top: 10px;
    display: grid;
    grid-gap: 50px 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.more-news-item img {
    max-width: 100%;

}

.img-source {
    font-size: 11px;
    color: #a3a8ab;
    float: right;
    text-align: right;
}

.more-news-info {
    margin-top: 15px;
    clear: both;
}

.more-news-title {
    font-size: 14px;
}

.more-news-title a{
    color: #000;
    text-decoration: none;
    line-height: 19px;
}

/* must be down */

.caption-text {
    font-size: 14px;
    width: 80%;
    line-height: 20px;
    padding-top: 8px;
    color: #87898a;
    margin-bottom: 20px;
}

.caption-author {
    font-style: italic;
    color: #a3a8ab;
}

/* smaller versions */
.caption-text-sm {
    font-size: 14px;
    line-height: 20px;
    padding-top: 5px;
    color: #87898a;
    margin-bottom: 20px;
}

.caption-author-sm {
    font-style: italic;
    color: #a3a8ab;
    font-size: 12px;
}

.big-img { 
    margin: 0px -12%;
}

.caption-text {
    width: 100%;
}